*{
    margin: 0;
    padding: 0;
}
body{
    color: pink;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
}
#container{
    width: 70%;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#post h1{
    font-size: 24px;
    background: pink;
    color: darkmagenta;
    font-family: 'Rancho', cursive;
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 43px -4px rgba(237,109,205,0.76);
    -moz-box-shadow: 10px 10px 43px -4px rgba(237,109,205,0.76);
    box-shadow: 10px 10px 43px -4px rgba(237,109,205,0.76);
}

#post h1 span{
    font-size: 50px;
}

#post p{
    text-align: left;
    color: navy;
    padding: 25px;
    font-size: 18px;
}